# Igonorar arquivos do Terraform que contêm senhas ou estados locais
.terraform/
*.tfstate
*.tfstate.backup
*.pem
*.key

# Ignorar arquivos de variáveis que podem conter senhas
*.tfvars
*.tfvars.json

# Ignorar logs de erro do Terraform
crash.log

# Ignorar arquivos de chave do OCI (comuns no seu roadmap)
*.pub
